altgraph==0.17.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
et-xmlfile==1.1.0
importlib_metadata==8.0.0
macholib==1.16.3
numpy==2.0.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==10.4.0
pycparser==2.22
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tk==0.1.0
tzdata==2024.1
zipp==3.19.2
